@import '../../global.scss';

.recipeButton {
  
  .formButton {
    background-color: $backgroundForm;
    color: $textColorPrimary;
    border: none;
    cursor: pointer;
    width: 100px;
    height: 30px;
  }

  .formButton:hover {
    background-color: $boldOrange;
    color: $backgroundColor;
  }
}
