@import '../../global.scss';

.articleList {
  font-size: 14px;
  margin-right: 50px;
  padding: 7px;
  border-radius: 10px;
  cursor: pointer;
  color: $textColorPrimary;

  &.active {
    background-color: $boldOrange;
    color: $backgroundColor;
  }
}
