@import '../../global.scss';

.trimesterIntro {
  display: flex;
  flex-direction: column;
  margin-top: 20px;

  .trimesterTitle {
    h1 {
      color: $textColorPrimary;
      font-weight: fontWeight(bold);
      font-size: 3.5rem;

      @include mobilePhone {
        font-size: fontSize(large);
        margin-left: 10px;
      }
    }
  }
  .trimesterCardContainer {
    width: 100%;
    @include flexJustify(center);
    flex-wrap: wrap;
    margin: 30px;

    @include mobilePhone {
      margin-left: 0;
    }

    .itemCardContainer {
      width: 250px;
      height: 300px;
      border-radius: 20px;
      border: 5px solid rbg(240, 234, 234);
      box-shadow: 0px 4px 15px rgba(103, 78, 59, 0.25);
      margin: 20px 40px;
      @include flexJustify(center);
      flex-direction: column;
      cursor: pointer;
      position: relative;

      .cardContainerImage {
        width: 50%;
        height: 50%;

        .cardImage {
          width: 100%;
        }
      }
      .textCardContainer {
        align-items: center;
        display: flex;
        justify-content: center;
        background-color: $backgroundForm;

        h3 {
          color: $textColorPrimary;
          font-size: fontSize(regular);
          position: absolute;
          margin-top: 20px;
        }
      }
    }
  }
}
