@import '../../global.scss';
.displayRecipe {
  border-radius: 8px;
  background-color: $backgroundForm;
  @include flexCenter(column);
  .recipeData {
    width: 100%;
    border-radius: 8px;
    background-color: $backgroundForm;
    overflow: hidden;
    display: flex;
    flex-direction: row;

    .detailsLeft {
      flex: 0.5;
      .recipeImage {
        width: 100%;
        height: 250px;
        border-radius: 4px;
      }
    }
    .detailsRight {
      display: flex;
      flex-direction: column;
      flex: 0.5;
      align-items: center;
      justify-content: center;

      .itemResult {
        @include flexCenter(column);
        justify-content: space-between;

        .recipeTitle {
          color: $textColorPrimary;
          margin: 0 0 0 20px;
          font-size: fontSize(regular);
          font-weight: fontWeight(regular);
          margin-bottom: 20px;
        }

        .recipeLabel {
          text-decoration: none;
          text-align: center;
          width: 120px;
          background-color: $textColorPrimary;
          color: $backgroundForm;
          font-size: fontSize(small);
          margin-bottom: 20px;
        }
      }

      .ingredientButton {
        .buttonRecipe {
          width: 120px;
          background-color: $boldOrange;
          color: $backgroundColor;
          font-size: fontSize(small);
          border: none;
        }
      }
    }
  }
}
