@import '../../global.scss';

.recipeCardAnchor {
  text-decoration: none;
  border: 5px solid rbg(240, 234, 234);
  box-shadow: 0px 4px 15px rgba(103, 78, 59, 0.25);
  background-color: $backgroundForm;

  .recipeCard {
    width: 100%;
    @include flexCenter(row);
    overflow: hidden;

    @include mobilePhone {
      display: flex;
      flex-direction: column;
    }

    .recipeCardLeft {
      display: flex;
      flex: 0.5;
      overflow: hidden;

      .recipeCardImg {
        height: 100%;
      }
    }

    .recipeCardRight {
      display: flex;
      flex: 0.5;
      overflow: hidden;

      .recipeCardData {
        .recipeCardTitle {
          color: $textColorPrimary;
          margin: 0 0 0 20px;
          font-size: fontSize(regular);
          font-weight: fontWeight(regular);
          margin-bottom: 20px;
          text-decoration: none;
        }
      }
    }
  }
}
