@import '../../global.scss';

.recipeCard{
  width: 100%;
  background-color: $backgroundForm;
  @include flexCenter(column);
  overflow: hidden;
  display: flex;
  flex-direction: row;

  .recipeCardLeft{
    display: flex;
    flex: 0.5;
    overflow: hidden;

    .recipeCardImg{
      width: 100%;
      height: 100%;
    }

  }

  .recipeCardRight{
    display: flex;
    flex: 0.5;
    overflow: hidden;

    .recipeCardData{
    
      .recipeCardTitle{
        color: $textColorPrimary;
        margin: 0 0 0 20px;
        font-size: fontSize(regular);
        font-weight: fontWeight(regular);
        margin-bottom: 20px;
      }

    }

  }

}
