@import '../../global.scss';

.recipeCardAnchor {
  text-decoration: none;

  .recipeCard {
    width: 100%;
    background-color: $backgroundForm;
    @include flexCenter(row);
    overflow: hidden;

    .recipeCardLeft {
      display: flex;
      flex: 0.5;
      overflow: hidden;

      .recipeCardImg {
        height: 100%;
      }
    }

    .recipeCardRight {
      display: flex;
      flex: 0.5;
      overflow: hidden;

      .recipeCardData {
        .recipeCardTitle {
          color: $textColorPrimary;
          margin: 0 0 0 20px;
          font-size: fontSize(regular);
          font-weight: fontWeight(regular);
          margin-bottom: 20px;
          text-decoration: none;
        }
      }
    }
  }
}
