@import '../../global.scss';

.quoteBlockContainer {
  width: 100vw;
  height: 250px;
  background-color: $backgroundForm;
  @include flexCenter(column);
  overflow: hidden;
  display: flex;
  flex-direction: row;

  @include mobilePhone {
    display: flex;
    flex-direction: column;
  }

  .quoteBlockLeft {
    display: flex;
    flex: 0.15;
    overflow: hidden;

    .quoteBlockImage {
      height: 150px;
      //   width: 100%;

      @include mobilePhone {
        display: none;
      }
    }
  }

  .quoteBlockRight {
    display: flex;
    flex: 0.85;
    overflow: hidden;
    margin: 50px;
    flex-direction: column;

    .quoteText {
      color: $textColorPrimary;
      text-align: left;

      @include mobilePhone {
        font-size: fontSize(small);
      }
    }

    .quoteAuthor {
      color: $textColorPrimary;
      text-align: right;

      @include mobilePhone {
        font-size: fontSize(small);
      }
    }
  }
}
