@import '../../global.scss';

.quoteBlockContainer{
    width: 100vw;
    height: 250px;
    background-color: $backgroundForm;
    @include flexCenter(column);
    overflow: hidden;
    display: flex;
    flex-direction: row;

    .quoteBlockLeft{
        display: flex;
        flex: 0.15;
        overflow: hidden;

        .quoteBlockImage{
            height: 150px;
        };

    }

    .quoteBlockRight{
        display: flex;
        flex: 0.85;
        overflow: hidden;
        margin: 50px;
        

        .quoteText{
            color: $textColorPrimary;
            text-align: left;
        };

        .quoteAuthor{
            color: $textColorPrimary;
            text-align: right;
        }
    }
}