@import '../../global.scss';

.signupContainer {
  display: flex;
  overflow: hidden;

  .leftForm {
    flex: 0.5;

    .formWrapper {
      width: 100%;
      height: 90%;
      display: flex;
      flex-direction: column;
      // justify-content: center;
      align-items: flex-start;
    }
  }
}

// .alreadyHaveAccount{
//     padding: 500px;
// }
// $boldOrange: #ff8934;
// $darkBrown: #875c35;
// $backgroundColor: #e5e5e5;
// $backgroundForm: #fff5ed;
// $textColorPrimary: #674e3b;
// $textColorSecondary: #ca8f62;
// $smallText: #b0a297;
// $mediumText: #958678;
// $accentColor: #a7c6c7;
// $buttonsActive: #efa72b;
