@import '../../global.scss';

.signupContainer {
  display: flex;
  overflow: hidden;

  @include mobilePhone {
    display: flex;
    flex-direction: column;
  }

  .leftForm {
    flex: 0.5;
    background-color: #f5f1ed;
    margin-left: 30px;
    overflow: hidden;

    @include mobilePhone {
      margin-left: 0;
    }
    .formWrapper {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding-left: 30px;

      .signupHeader {
        h1 {
          color: $textColorPrimary;
          font-weight: fontWeight(bold);
          font-size: 4rem;

          @include mobilePhone {
            font-size: fontSize(small);
          }
        }

        h2 {
          color: $textColorSecondary;
          font-weight: fontWeight(bold);
          font-size: 3rem;
          @include mobilePhone {
            font-size: fontSize(small);
          }
        }
      }

      .formContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .signupForm {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          input {
            @include mobilePhone {
              width: 300px;
            }
          }

          .signupLabel {
            color: $textColorPrimary;
          }

          #height {
            @include mobilePhone {
              width: 300px;
            }
          }
          .nameForm {
            display: flex;
            flex-direction: column;
          }

          .surnameForm {
            display: flex;
            flex-direction: column;
          }

          .details {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            @include mobilePhone {
              display: flex;
              flex-direction: column;
            }
            .emailForm {
              display: flex;
              flex-direction: column;
            }

            .ageForm {
              display: flex;
              flex-direction: column;
            }
          }

          .bodyDetails {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            @include mobilePhone {
              display: flex;
              flex-direction: column;
              justify-content: center;
            }

            .heightForm {
              display: flex;
              flex-direction: column;
            }

            .weightForm {
              display: flex;
              flex-direction: column;
              margin-left: 30px;

              @include mobilePhone {
                margin-left: 0;
              }
            }
          }

          .stages {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;

            #stage {
              @include mobilePhone {
                width: 300px;
              }
            }
            @include mobilePhone {
              display: flex;
              flex-direction: column;
            }

            .pregStage {
              display: flex;
              flex-direction: column;
            }

            .goalsForm {
              display: flex;
              flex-direction: column;

              #goals {
                @include mobilePhone {
                  width: 300px;
                }
              }
            }
          }

          .buttonForm {
            margin-top: 10px;
            margin-bottom: 10px;
            border: $boldOrange;
            background-color: $boldOrange;
            color: $backgroundColor;
            height: 30px;
            width: 400px;
            cursor: pointer;

            @include mobilePhone {
              width: 300px;
            }
          }

          h4 {
            color: $textColorPrimary;
            font-size: fontSize(regular);

            a {
              color: $boldOrange;
            }
          }
        }
      }
    }
  }

  .rightContainer {
    flex: 0.5;

    .formImageContainer {
      @include flexJustify(center);
      .imageForm {
        width: 80%;
        height: 60%;
      }
    }
  }
}
