@import '../../global.scss';

.articleCard {
  display: grid;
  gap: 1rem 1rem;
  max-width: 25rem;

  .mythImage {
    object-fit: cover;
    height: 300px;
    width: 100%;
    border: 0.25rem solid $textColorSecondary;
    border-radius: 8px;
    display: block;
  }

  .textWrapper {
    h4 {
      margin-bottom: 0.5rem;
      color: $textColorPrimary;
      border-bottom: 0.5px dotted $darkBrown;
    }

    p {
      margin-bottom: 0;
      padding-top: 1rem;
      color: $textColorSecondary;

      button {
        background: transparent;
        border-color: transparent;
        text-transform: capitalize;
        color: $boldOrange;
        font-size: fontSize(regular);
        cursor: pointer;
      }
    }
  }
}
