@import '../global.scss';

.trackerWrapper {
  width: 100%;
  @include flexJustify(center);
  flex-wrap: wrap;
  margin: 30px;
  width: 90vw;
  display: grid;
  grid-gap: 30px;
  grid-template: auto/repeat(auto-fit, minmax(500px, 1fr));
  margin-bottom: 40px;
}

.wrapper {
  width: 100vw;
  @include flexCenter(column);
  justify-content: center;

  .recRecipes {
    margin-top: 50px;
    margin-bottom: 50px;

    .recRecipesTitle {
      color: $textColorPrimary;
      margin-bottom: 40px;
    }

    .recRecipesCards {
      box-shadow: 2px;
      width: 90vw;
      display: grid;
      grid-gap: 25px;
      grid-template: auto/repeat(auto-fit, minmax(150px, 1fr));
      margin-bottom: 40px;
    }
  }
}

.recArticlesButton {
  margin-left: 50px;
}
