@import '../global.scss';

.wrapper {
  margin-top: 20px;
  @include flexCenter(column);
  justify-content: center;
  margin: 20px 0 20px 0;

  .top {
    display: flex;
    width: 100%;

    .recipeFilters {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 0.5;

      .filtersWrapper {
        width: 100%;
        height: 90%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        margin-left: 20px;

        .recipeIntro {
          margin-left: 20px;
          margin-bottom: 20px;

          h2 {
            color: $textColorPrimary;
            font-size: 4rem;
            font-weight: fontWeight(bold);
          }

          h3 {
            color: $boldOrange;
            font-size: fontSize(large);
            font-weight: fontWeight(medium);
          }

          h4 {
            color: $textColorPrimary;
            font-size: fontSize(regular);
            font-weight: fontWeight(regular);
          }
        }

        .searchRecipes {
          margin-left: 20px;
          .searchForm {
            @include flexJustify(center);
            .searchBar {
              background-color: $backgroundForm;
              width: 300px;
              height: 30px;
              border: none;
            }

            .searchButton {
              background-color: $boldOrange;
              border: none;
              color: $backgroundColor;
              width: 200px;
              height: 30px;
              margin-left: 10px;
              cursor: pointer;
            }
            .searchButton:hover {
              background-color: $boldOrange;
              color: $backgroundColor;
            }
          }
        }

        .filterButton {
          background-color: $backgroundForm;
          border: none;
          color: $textColorPrimary;
          width: 200px;
          height: 30px;
          margin-left: 10px;
          cursor: pointer;
          margin: 20px 0 0 20px;
        }

        .selection {
          flex-direction: column;
          display: flex;
          justify-content: center;

          .buttonFilters {
            .selectMeal,
            .selectDiet,
            .selectLabel {
              flex-wrap: wrap;
              justify-content: space-between;
              @include flexCenter(row);
              padding: 1rem;
            }

            .selectLabel {
              padding: 10px;
            }
          }
        }

        .selectDropdown {
          @include flexCenter(row);
          margin: 10px 0 0 0;

          .health {
            margin-right: 30px;
          }
        }
      }
    }

    .rightFilters {
      flex: 0.5;
      .rimgContainer {
        @include flexJustify(center);
        margin-top: 30px;

        .imgFilters {
          width: 70%;
          height: 70%;
        }
      }
    }
  }

  .bottom {
    margin-top: 50px;
    width: 100%;
    display: grid;
    grid-gap: 25px;
    padding: 25px;
    grid-template: auto/repeat(auto-fit, minmax(350px, 1fr));
  }
}
