@import '../global.scss';

.wrapper {
  margin-top: 20px;
  @include flexCenter(column);
  justify-content: center;
  margin: 20px 0 20px 0;

  // h2 {
  //   margin-bottom: 30px;
  // }
  .top {
    // width: 100%;
    // height: 100%;
    display: flex;
    // flex-direction: row;

    .recipeFilters {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 0.5;

      .filtersWrapper {
        width: 100%;
        height: 90%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        margin-left: 20px;

        .recipeIntro {
          // margin-left: 20px;
          margin-bottom: 20px;

          h1 {
            color: $textColorPrimary;
          }

          h2 {
            color: $boldOrange;
          }

          p {
            color: $textColorPrimary;
          }
        }

        .searchRecipes {
          margin-left: 20px;
          .searchForm {
            @include flexJustify(center);
            .searchBar {
              background-color: $backgroundForm;
              width: 300px;
              height: 30px;
              border: none;
            }

            .searchButton {
              background-color: $darkBrown;
              border: none;
              color: $backgroundColor;
              width: 200px;
              height: 30px;
              margin-left: 10px;
              cursor: pointer;
            }
            .searchButton:hover {
              background-color: $boldOrange;
              color: $backgroundColor;
            }
          }
        }

        .filterButton {
          background-color: $backgroundForm;
          border: none;
          color: $textColorPrimary;
          width: 200px;
          height: 30px;
          margin-left: 10px;
          cursor: pointer;
          margin: 20px 0 0 20px;
        }

        .selection {
          flex-direction: column;
          display: flex;
          justify-content: center;

          .buttonFilters {
            .selectMeal,
            .selectDiet,
            .selectLabel {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              padding: 1rem;
            }

            .selectLabel {
              padding: 10px;
            }
          }
        }

        .selectDropdown {
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-left: 50px;

          .health {
            margin-right: 30px;
          }
        }
      }
    }

    .rightFilters {
      flex: 0.5;
      .rimgContainer {
        @include flexJustify(center);
        margin-top: 30px;

        .imgFilters {
          width: 70%;
          height: 70%;
        }
      }
    }
  }

  .bottom {
    margin-top: 50px;
    width: 100%;
    display: grid;
    grid-gap: 25px;
    grid-template: auto/repeat(auto-fit, minmax(300px, 1fr));
  }
}
