@import '../../global.scss';
.main-footer{
background-color: $backgroundColor;
color: $mediumText;
position: relative;
bottom: 0;
width: 100%;
}

.description-paragraph{
    margin: 3px 3px 3px 3px;
    text-align: left;
}

#feature-container{
    margin: 3px 3px 3px 3px;
    text-align: center;
}

.header-text{
    color: $boldOrange;
}

.footer-container{
    text-align: center;
}

#nutri-text {
    color: $boldOrange;
}

#glow-text {
    color: $darkBrown;
}

#team-info {
    background-color: $accentColor;
}



$boldOrange: #ff8934;
$darkBrown: #875c35;
$backgroundColor: #e5e5e5;
$backgroundForm: #fff5ed;
$textColorPrimary: #674e3b;
$textColorSecondary: #ca8f62;
$smallText: #b0a297;
$mediumText: #958678;
$accentColor: #a7c6c7;
$buttonsActive: #efa72b;