@import '../../global.scss';
.mainFooter {
  background-color: $backgroundColor;
  bottom: 0;
  width: 100%;

  .footerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;

    @include mobilePhone {
      display: flex;
      flex-direction: column;
    }

    .descriptionContainer {
      padding-left: 20px;

      .logoFooter {
        display: flex;
        flex-direction: row;
        @include mobilePhone {
          display: flex;
          flex-direction: column;
        }

        .text1 {
          color: $boldOrange;
          font-weight: fontWeight(bold);
        }

        .text2 {
          color: $textColorPrimary;
          font-weight: fontWeight(bold);
        }
      }
      p {
        color: $textColorPrimary;
        margin-top: 10px;
      }
    }

    .featureContainer {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-decoration: none;
      .headerFeature {
        color: $boldOrange;
      }

      .pregTracker {
        text-decoration: none;
      }

      h5 {
        color: $textColorPrimary;
        text-decoration: none;
      }
    }

    .touchContainer {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .headerTouch {
        color: $boldOrange;
      }

      .location {
        display: flex;
        flex-direction: row;
        align-items: flex-start;

        .iconFooter {
          color: $boldOrange;
        }

        h5 {
          color: $textColorPrimary;
        }
      }

      .email {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;

        .iconFooter {
          color: $boldOrange;
        }
        h5 {
          color: $textColorPrimary;
        }
      }

      .phone {
        display: flex;
        flex-direction: row;
        align-items: flex-start;

        .iconFooter {
          color: $boldOrange;
        }
        h5 {
          color: $textColorPrimary;
        }
      }
    }

    .socialMedia {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      padding-right: 50px;

      h4 {
        color: $textColorPrimary;
      }

      .socialMediaIcons {
        color: $boldOrange;

        a {
          text-decoration: none;
          color: $boldOrange;
        }
      }
    }
  }

  // .createdBy {
  //   color: $textColorPrimary;
  //   margin-left: 0px;
  //   background-color: $accentColor;
  //   text-align: center;
  // }
}
