@import '../../global.scss';

.loginButtonNav {
  background-color: $darkBrown;
  color: $backgroundForm;
  height: 30px;
  width: 80px;
  cursor: pointer;
  border: none;

  @include mobilePhone {
    margin-left: 50px;
    width: 50px;
  }
}
